#contener{
    
    border: 0px solid black;
    width: 100%;
    height: 100%;
    display: inline-block;
    
}

.image{
    cursor: pointer;
    border: 0px solid black;
    width: 310px;
    height: 465px;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    position: relative;
    left: 150px;
    bottom: 15px;
}

.image h1{
    
    border: 2px solid black;
    border-radius: 7px 7px 0px 0px;
    width: 300px;
    height: 30px;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: 13px;
    
}

.image img{
    
     border: 2px solid black;
    border-radius: 0px 0px 7px 7px;
      display: inline-block;
 

}

.image ul{
    
    border: 2px solid black;
    border-radius: 0px 0px 7px 7px;
    width: 260px;
    height: 400px;
    background-color: black;
    display: inline-block;
    position: relative;
    bottom: 10px;
    opacity: 0.5;
    /*animation: boven 1s forwards;*/
    
}
/*
@keyframs boven{
    
    0%{bottom: 10px}
    25%{bottom: 400px}
    38%{bottom: 225px}
    50%{bottom: 425px}
    68%{bottom: 300px}
    75%{bottom: 425px}
    85%{bottom: 400px}
    100{bottom: 425px}
    
}*/

.image:hover ul{
    position: relative;
    transition: bottom 1.0s ease-in-out 0s;
    bottom: 425px;
    
}

li{
    
    color: white;
    position: relative;
    top: 10px;
    right: 10px;
    margin-top: 5px;
    list-style: none;
}

h2{
    
    color: red;
}



